pkgbase = greasewood
	pkgdesc = Minimal self-hosted WireGuard mesh overlay — direct-or-fail, IPv6-only, CA-gated
	pkgver = 0.1.2
	pkgrel = 1
	url = https://github.com/cschlick/greasewood
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-cryptography
	depends = wireguard-tools
	depends = iproute2
	depends = nftables
	source = https://files.pythonhosted.org/packages/source/g/greasewood/greasewood-0.1.2.tar.gz
	sha256sums = 8d2a97160b635bcfb347d995877f7bf2ddd81564e7c376a058307ef258bba0aa

pkgname = greasewood
