pkgbase = greasewood
	pkgdesc = Minimal self-hosted WireGuard mesh overlay — direct-or-fail, IPv6-only, CA-gated
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/cschlick/greasewood
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-cryptography
	depends = wireguard-tools
	depends = iproute2
	depends = nftables
	source = https://files.pythonhosted.org/packages/source/g/greasewood/greasewood-0.1.1.tar.gz
	sha256sums = ae169e6f62d63c1e2534f797d5d3791f338e6df7669e5ee4b60d229bd5560016

pkgname = greasewood
